* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
}
header {
    padding: 70px;
    margin-bottom: 70px;

    width: 100%;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 5px 6px -8px black;
    > * {
        text-align: center;
        font-size: 0.6rem;
    }
    .title {
        font-size: 2.6em;
    }
}

.scheduler_wrapper {
    padding-inline: 15px;
    width: 100%;
    .item {
        display: flex;
        justify-content: space-between;
        height: 40px;

        & {
            $border-color: #ccc;
            &:first-child {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-top: 1px solid $border-color;
            }
            &:last-child {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            border-inline: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
        }
        .note {
            flex: 1;
        }
        .time,
        .save {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
        }
        .save {
            display: block;
            background-image: url("../img/save.png");
            background-size: 30%;
            background-repeat: no-repeat;
            background-position: 50%;
            background-color: lightblue;
            border: inherit;
            &:is(.obselete .save) {
                background-color: lightcoral;
                background-size: 35%;
                background-image: url("../img/warning.png");
            }
        }
    }
}
